@font-face {
  font-family: logoFont;
  src: url(Boldenvandemo-K7dZZ.ttf);
}

/* colors */

.background-color-green {
  background-color: #299c29;
}

.color-green {
  color: #299c29;
}

.color-red {
  color: #d21414;
}

.color-black {
  color: black;
}

/* end colors */

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #dff4df;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

/* header */

header {
  padding-top: 20px;
}

header .logo {
  font-family: logoFont;
  font-size: 3rem;
  color: #41be41;
  word-break: break-word;
}

header .logo:hover {
  text-decoration: none;
}

/* end header */

/* menu */

.menu {
  margin-top: 20px;
  background-color: #f3eea6;
  padding: 12px;
  font-size: 1.8rem;
}

.menu>li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.menu a {
  color: #41be41;
  text-decoration: none;
}

.menu a.selected-option {
  font-weight: bold;
  color: #299c29;
}

.menu a:hover {
  color: #299c29;
}

/* end menu */

/* forms */

.form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.form-control {
  max-width: 100%;
  box-sizing: border-box;
}

.form-control:focus {
  z-index: 2;
  border: 1px solid #299c29;
  box-shadow: none;
}

.form-top-elem {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-middle-elem {
  border-radius: 0;
}

.form-bottom-elem {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-error {
  border: 1px solid #d21414;
}

.form .form-error:focus {
  z-index: 2;
  border: 1px solid #d21414;
  box-shadow: none;
}

.form-error-message {
  color: #d21414;
  font-size: 1.2rem;
  margin-top: 2px;
  margin-bottom: 5px;
}

input.text-centered:focus::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

/* end forms */

/* buttons */

.buttons-grid-container {
  display: grid;
  grid-template-areas: "button1 button2";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

button {
  color: white;
  box-shadow: none !important;
  font-size: 1.3rem !important;
  cursor: pointer;
}

button.confirm {
  background-color: #41be41 !important;
  border: 2px solid #41be41 !important;
  margin-top: 10px;
}

button.confirm:hover {
  background-color: #299c29 !important;
  border: 2px solid #299c29 !important;
}

button.cancel {
  background-color: #de3e51 !important;
  border: 2px solid #de3e51 !important;
  margin-top: 10px;
}

button.cancel:hover {
  background-color: #d21414 !important;
  border: 2px solid #d21414 !important;
}

button.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

button.left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

button>a {
  color: white;
}

button>a:hover {
  color: white;
  text-decoration: none;
}

/* end buttons */

/* table */

table>caption {
  caption-side: top;
  color: black;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

table {
  clear: both;
  margin: auto;
  margin-top: 20px;
  border-collapse: collapse;
  max-width: 100%;
}

th {
  font-size: 1.2rem;
  font-weight: normal;
  border: 1px solid #299c29;
  padding: 10px;
}

th.null {
  border: 0px;
  background-color: #dff4df;
}

button.th-button {
  padding: 0px;
  margin: 0px;
}

th.number {
  font-weight: bold;
}

tr.summary>th {
  font-weight: bold;
}

.text-centered {
  text-align: center;
}

.column_names>* {
  font-weight: bold;
}

.row_dark {
  background-color: #f3eea6;
}

.row_light {
  background-color: #FFF8D6;
}

/* end table */

/* widths */

.width-ge-50 {
  min-width: 50px;
}

.width-ge-80 {
  min-width: 80px;
}

.width-ge-120 {
  min-width: 120px;
}

.width-ge-180 {
  min-width: 180px;
}

.width-ge-200 {
  min-width: 200px;
}

.width-ge-350 {
  min-width: 350px;
}

/* end widths */

/* pagination */

.pagination {
  display: inline-block;
  color: gray;
  margin-top: 20px;
  max-width: 100%;
}

.pagination a {
  color: #41be41;
  font-size: 1.8rem;
  padding: 10px 10px;
  display: inline-block;
}

.pagination .current_page {
  color: #299c29;
  font-weight: bold;
}

/* end pagination */

/* chart */

.chart {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.pie_chart {
  aspect-ratio: 1 / 1;
  width: 450px;
  border-radius: 50%;
  margin-left: auto;
}

.legend {
  height: 450px;
  width: 200px;
  margin-left: 10px;
  margin-right: 0;

}

.legend_last_column {
  margin-right: auto;
}

.legend_item {
  display: flex;
  align-items: center;
}

.item_color {
  margin-top: 15px;
  margin-left: 5px;
  height: 12px;
  width: 12px;
}

.item_text {
  margin-left: 5px;
  height: 12px;
  width: 12px;
  white-space: nowrap;
  font-size: 1.1rem;
}

/* end chart */

/* messages */
.error-404-header {
  font-size: 7rem;
  font-weight: bold;
  color: #41be41;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.msg {
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
  margin: 50px;
}

.error-404-msg,
.error-msg {
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
  margin-bottom: 50px;
}

.error-404-msg {
  color: #41be41;
}

.error-msg {
  color: #de3e51;
}

.button-404 {
  font-size: 2rem;
  padding: 10px;
  margin: 0px;
}

/* end messages */

.login-registration-link {
  color: #41be41;
  font-size: 1.6rem;
}

.login-registration-link:hover {
  color: #299c29;
}

#SelectPeriod {
  width: 200px;
  margin: auto;
  max-width: 100%;
}

.input-description {
  margin: 10px;
}

div.total-sum {
  margin: 0 auto;
  font-size: 2.2rem;
  font-weight: bold;
  width: 100%;
  max-width: 300px;
}

footer {
  margin-top: auto;
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  header .logo {
    font-size: 2rem;
  }

  .menu {
    padding: 5px;
    font-size: 1.5rem;
  }

  .menu>li {
    display: block;
    padding: 5px;
  }

  .width-ge-50,
  .width-ge-80,
  .width-ge-120,
  .width-ge-180,
  .width-ge-200,
  .width-ge-350 {
    min-width: auto;
  }

  .form {
    max-width: 100%;
    padding: 10px;
  }

  table>caption {
    font-size: 1.2rem;
  }

  .table-container {
    overflow-x: auto;
    white-space: nowrap;
  }

  th {
    padding: 5px;
    font-size: 1rem;
  }

  .chart {
    flex-direction: column;
  }

  .pie_chart {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
  }

  .legend {
    height: auto;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0 !important;
  }

  div.total-sum {
    font-size: 1.5rem;
  }

  .error-404-header {
    font-size: 3.5rem;
  }
}